/* GLOBAL */

body {
	font-family: Verdana;
	font-size: medium;
	background-color: #edf2f8;
}

/* FIN GLOBAL */

/* HEADER --> Bar de navigation horizontale */

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
  border-right:1px solid black;
}

header li:last-child {
  border-right: none;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover:not(.active) {
  background-color: #111;
}

/* FIN HEADER */


/* ARTICLE */

.article {
	margin-left: 5%;
	margin-right: 5%;
	line-height: 200%;
	background-color: white;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.article img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

.article p {
	text-align: justify;
}

/* FIN ARTICLE */

/* IFrame */



/* FIN IFrame */