/* GLOBAL */

body {
	font-family: Verdana;
	font-size: medium;
	background-color: white;
	line-height: 200%;
}

/* FIN GLOBAL */

/* SKIPLINK */

.skip-link {
  position: absolute;
  top: -1000px;
  left: -1000px;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/* FIN SKIPLINK */

/* LABEL */

.hiddenLabel {
	display: block;
	position: absolute; 
	top:-1000px; 
	left:-1000px;
}

/* FIN LABEL */